@{
  Layout = "_Layout";
}

<center><h1> @Model.GetName()</h1>
<h1>Address: @Model.GetAddress()</h1>
<h1>Phone: @Model.GetPhone()</h1>

<a href="/new">Add another contact</a>
<br>
<a href="/">View all contacts</a></center>
