
<div class="jumbotron">
    <center><h1>Word Counter</h1></center>
</div>
  <div class = "container">
    <center><h3>Add a new contact:</h3>
    <form action="/" method="post">
      <label for="phrase">Enter your phrase:</label>
      <input id="phrase" name="phrase" type="text">
      <button type="submit">WORD COUNT!</button>
    </form></center>
  </div>
